<h1><%= @ingredient.name %></h1>
<p><%= @ingredient.amount %></p>
<%= link_to "Back", recipe_path(@ingredient.recipe), class:'button' %>
<%= link_to "Edit", edit_recipe_ingredient_path(@ingredient.recipe, @ingredient), class:'button button-primary' %>
<%= link_to 'Delete Ingredient', [@ingredient.recipe, @ingredient], method: :delete, data: { confirm: 'Are you sure?'}, class:'button' %>
